@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700&display=swap');

:root{
    --primary-color:#8e44ad;
    --secondary-color: #9b59b6;
    --text-color:#34495e;;
    --text-dark:#2c3e50;
    --bg-color:#7f8c8d;
    --max-width:1200px;
    --light-color:lightgray;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.section__container{
    max-width:var(--max-width);
    margin:auto;
    padding:80px 16px;
}
.section__header{
    margin-bottom: 16px;
    font-size:38px;
    font-weight:700;
    color:var(--text-dark);
}
.section__subheader {
    color:var(--text-color);
}
.btn{
    padding: 12px 32px;
    font-size: 16px;
    color:white;
    background: var(--primary-color);
    border-radius: 80px;
    border:none;
    cursor:pointer;
    transition:0.3s;
}
.btn:hover{
    background-color: var(--secondary-color);
}
img{
    display:flex;
    width:100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
html,
body{
    scroll-behavior: smooth;
}
header{
    background-image: url("./assets/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    max-width: var(--max-width);
    margin:auto;
    padding:32px 16px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo{
    flex:1;
}
.nav__logo a{
    font-size:24px;
    font-weight: 600;
    color:var(--light-color);
}
.nav__links {
    display:flex;
    align-items:center;
    gap: 32px;
}
.link a {
    position:relative;
    padding:10px 0;
    color: var(--light-color);
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
}
.link a::after{
    position:absolute;
    content:"";
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    height:2px;
    width:0;
    background-color:var(--light-color);
    transition:0.3s;
}
.link a:hover::after{
    width:100%;
}
.nav__menu__btn{
    display:none;
    font-size:24px;
    color:var(--light-color);
}
.nav__actions{
    flex:1;
    display:flex;
    align-items:center;
    justify-content: flex-end;
    gap:32px;
}
.nav__actions span{
    font-size: 20px;
    color:var(--light-color);
    cursor: pointer;
}
.header__container{
    text-align:center;
    color:var(--light-color);
}
.header__container h1{
    color:var(--primary-color);
    text-shadow:2px 2px lightgray;
    margin-bottom: 16px;
    font-size:68px;
    font-weight: 600;
}
.header__container p{
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 60px;
    font-size: 20px;
}
.header__container form{
    width:100%;
    max-width: 350px;
    margin-inline: auto;
    margin-bottom: 60px;
    padding-block: 4px;
    padding-inline: 20px 4px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    border: 1px solid var(--light-color);
    border-radius: 76px;
}
.header__container input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    color: white;
    background-color: transparent;
}
.header__container input::placeholder{
    color:white;
}
.header__container button{
    padding: 11px 12px;
    font-size: 20px;
    outline: none;
    border:none;
    color:white;
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor:pointer;
}
.header__container a{
    display: inline-block;
    padding:0 12px;
    font-size: 45px;
    color:white;
    backdrop-filter: blur(10px);
    border:1px solid var(--light-color);
    border-radius: 100%;
}
.choose__container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:32px;
    align-items: center;
}
.choose__container .choose__bg{
    position: absolute;
    top:16px;
    left:50%;
    transform: translateX(-48px);
    max-width: 300px;
    opacity:0.6; 
    z-index: -1;
}
.choose__grid{
    margin-top: 32px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 16px;
}
.choose__card span{
    display: inline-block;
    margin-bottom: 8px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: var(--secondary-color);
    border-radius: 100%;
}
.choose__card h4{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-dark);
}
.choose__card p{
    color:var(--light-color);
}
.choose__image img{
    max-width: 500px;
    height:550px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}