@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700&display=swap');

:root{
    --primary-color:#8e44ad;
    --secondary-color: #9b59b6;
    --text-color:#34495e;;
    --text-dark:#2c3e50;
    --bg-color:#7f8c8d;
    --max-width:1200px;
    --light-color:lightgray;
    --text-light: #95a5a6;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.section__container{
    max-width:var(--max-width);
    margin:auto;
    padding:80px 16px;
}
.section__header{
    margin-bottom: 16px;
    font-size:38px;
    font-weight:700;
    color:var(--text-dark);
}
.section__subheader {
    color:var(--text-color);
}
.btn{
    padding: 12px 32px;
    font-size: 16px;
    color:white;
    background: var(--primary-color);
    border-radius: 80px;
    border:none;
    cursor:pointer;
    transition:0.3s;
}
.btn:hover{
    background-color: var(--secondary-color);
}
img{
    display:flex;
    width:100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
html,
body{
    scroll-behavior: smooth;
}
header{
    background-image: url("./assets/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    max-width: var(--max-width);
    margin:auto;
    padding:32px 16px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo{
    flex:1;
}
.nav__logo a{
    font-size:24px;
    font-weight: 600;
    color:var(--light-color);
}
.nav__links {
    display:flex;
    align-items:center;
    gap: 32px;
}
.link a {
    position:relative;
    padding:10px 0;
    color: var(--light-color);
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
}
.link a::after{
    position:absolute;
    content:"";
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    height:2px;
    width:0;
    background-color:var(--light-color);
    transition:0.3s;
}
.link a:hover::after{
    width:100%;
}
.nav__menu__btn{
    display:none;
    font-size:24px;
    color:var(--light-color);
}
.nav__actions{
    flex:1;
    display:flex;
    align-items:center;
    justify-content: flex-end;
    gap:32px;
}
.nav__actions span{
    font-size: 20px;
    color:var(--light-color);
    cursor: pointer;
}
.header__container{
    text-align:center;
    color:var(--light-color);
}
.header__container h1{
    color:var(--primary-color);
    text-shadow:2px 2px lightgray;
    margin-bottom: 16px;
    font-size:68px;
    font-weight: 600;
}
.header__container p{
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 60px;
    font-size: 20px;
}
.header__container form{
    width:100%;
    max-width: 350px;
    margin-inline: auto;
    margin-bottom: 60px;
    padding-block: 4px;
    padding-inline: 20px 4px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    border: 1px solid var(--light-color);
    border-radius: 76px;
}
.header__container input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    color: white;
    background-color: transparent;
}
.header__container input::placeholder{
    color:white;
}
.header__container button{
    padding: 11px 12px;
    font-size: 20px;
    outline: none;
    border:none;
    color:white;
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor:pointer;
}
.header__container a{
    display: inline-block;
    padding:0 12px;
    font-size: 45px;
    color:white;
    backdrop-filter: blur(10px);
    border:1px solid var(--light-color);
    border-radius: 100%;
}
.choose__container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:32px;
    align-items: center;
}
.choose__container .choose__bg{
    position: absolute;
    top:16px;
    left:50%;
    transform: translateX(-48px);
    max-width: 300px;
    opacity:0.6; 
    z-index: -1;
}
.choose__grid{
    margin-top: 32px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 16px;
}
.choose__card span{
    display: inline-block;
    margin-bottom: 8px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: var(--secondary-color);
    border-radius: 100%;
}
.choose__card h4{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-dark);
}
.choose__card p{
    color:var(--text-light);
}
.choose__image img{
    max-width: 500px;
    height:550px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.offer__section{
    padding-block:80px;
    display:grid;
    grid-template-columns: 
    minmax(0, 1fr)
    minmax(0, var(--max-width))
    minmax(0, 1fr);
    row-gap: 32px;
}
.offer__grid__top{
    grid-column: 1/3; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:32px;
}
.offer__grid__bottom{
    grid-column: 2/4;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:32px;
}
.offer__section img{
    border-radius: 10px;
    height:200px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.offer__content {
    padding-right: 16px;
}
.offer__content .section__subheader{
    margin-bottom: 32px;
}
.craft__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:32px;
    align-items: center;
}
.craft__container .section__subheader{
    margin-bottom: 32px;;
}
.craft__image{
    position:relative;
    isolation: isolate;
}
.craft__image::before{
    position: absolute;
    content: "";
    bottom:0;
    left:0;
    width:100%;
    height:50%;
    background-color: lightgray;
    border-radius: 15px;
    transition: 0.3s;
    z-index: -1;
}
.craft__image:hover::before{
    height: 100%;
}
.craft__image__content {
    padding-bottom: 32px;
    text-align: center;
    transition: 0.3s;
}
.craft__image__content img{
    margin-bottom: 16px;
    max-width:250px;
    margin:auto;
    border-radius: 15px;
}
.craft__image__content p{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-dark);
    padding-top: 16px;
}
.craft__image__content h4{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-dark);
}
.craft__image:hover .craft__image__content{
    transform: translateY(-16px);
}
.craft__image a{
    position: absolute;
    left:50%;
    bottom:10px;
    transform: translate(-50%, 50%);
    padding: 0 7px;
    font-size: 28px;
    color:var(--light-color);
    background-color: var(--primary-color);
    border-radius: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    opacity:0;
    transition: 0.3s;
}
.craft__image a:hover{
    opacity:1;
}
.modern__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:32px;
}
.modern__image{
    position:relative;
    width: 100%;
    max-width: 600px;
    height:100%;
    min-height: 470px;
    margin:auto;
}
.modern__bg{
    position: absolute;
    max-width: 200px;
    right:0;
    top: -65px;
    opacity:0.5;
}
.modern__img-1,
.modern__img-2,
.modern__img-3 {
    position: absolute;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.modern__img-1{
    max-width: 375px;
}
.modern__img-2{
    max-width: 175px;
    right: 0;
}
.modern__img-3{
    max-width: 250px;
    right:0;
    bottom:-32px;
}
.modern__grid{
    margin-block: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:32px;
}
.modern__card {
    display: flex;
    gap: 16px;
}
.modern__card span{
    font-size: 12px;
    font-weight: 800;
    color:var(--primary-color);
}
.modern__card p{
    color:var(--text-light);
}
.testimonial__container .section__header{
    text-align: center;
}
.swiper{
    margin-top:32px;
    padding-bottom:32px;
    width:100%;
}
.testimonial__card{
    max-width: 900px;
    margin: auto;
    padding: 16px;
    text-align: center;
}
.testimonial__card p{
    margin-bottom: 16px;
    font-size: 18px;
    color: var(--text-dark);
}
.testimonial__card img{
    max-width: 60px;
    margin-inline: auto;
    margin-bottom: 16px;
    border-radius: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.testimonial__card h4{
    font-size:20px;
    font-weight: 600;
    color: var(--text-dark);
}
.testimonial__card h5{
    font-size: 16px;
    font-weight: 500;
    color:var(--text-light);
}
.blog__grid{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:32px;
}
.blog__card img{
    margin-bottom: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.blog__card h4{
    font-size: 18px;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}
.blog__card p{
    font-weight: 500;
    color:var(var(--text-dark));
    text-align: center;
}
.blog__card p span {
    font-weight: 400;
    font-style: italic;
    color:var(--text-light);
    gap:10px;
    padding:0 5px 0 5px ;
}
.footer {
    background-color: var(--primary-color);
}
.footer__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:80px;
    align-items: center;
    border-bottom: 1px solid white;
}
.footer__content h4{
     margin-bottom: 16px;
     font-size: 32px;
     font-weight: 600;
     line-height: 40px;
     color:white;
}
.footer p{
    color:var(--light-color);
}
.footer__form form{
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    padding: 5px;
    display:flex;
    align-items: center;
    gap:16px;
    background-color: white;
    border-radius: 10px;
}
.footer__form input{
    width: 100%;
    padding:0 16px;
    outline:none;
    border:none;
    font-size: 16px;
}
.footer__form button{
    padding:16px 24px;
    outline:none;
    border:none;
    font-size:20px;
    background-color:var(--primary-color);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.footer__bar{
    padding-block: 32px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:32px;
}
.footer__logo h4 a {
    font-size: 24px;
    font-weight: 600px;
    color:white;
}
.footer__logo p{
    margin-top:5px;
    font-size: 14px;
    color:var(--light-color);
}
.footer__nav{
    list-style: none;
    display:flex;
    align-items: center;
    gap:32px;
}
.footer__link a{
    font-weight: 500;
    color:white;
    white-space: nowrap;
}


/* media queries  */
@media (width < 1200px) {
    .offer__container {
      row-gap: 16px;
    }
  
    .offer__grid__top,
    .offer__grid__bottom {
      gap: 16px;
      grid-template-columns: repeat(3, 1fr);
    }
  
    .offer__grid__top img:first-child,
    .offer__grid__bottom img:first-child {
      display: none;
    }
  
    .craft__container {
      gap: 16px;
    }
  }
  
  @media (width < 900px) {
    .nav__actions {
      display: none;
    }
  
    .choose__container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .choose__container .choose__bg {
      left: 0;
      transform: translateX(0);
    }
  
    .choose__image {
      grid-area: 1/1/2/2;
    }
  
    .offer__grid__top,
    .offer__grid__bottom {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .offer__grid__top img:nth-child(2),
    .offer__grid__bottom img:nth-child(4) {
      display: none;
    }
  
    .craft__container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .modern__container {
      grid-template-columns: repeat(1, 1fr);
      gap: 64px;
    }
  
    .blog__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  
    .footer__container {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  }
  
  @media (width < 600px) {
    nav {
      position: fixed;
      width: 100%;
      padding: 16px;
      background-color: #000000;
      z-index: 99;
    }
  
    .nav__links {
      position: absolute;
      left: 0;
      top: 68px;
      padding: 32px;
      width: 100%;
      flex-direction: column;
      transform: scaleY(0);
      transform-origin: top;
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0.9);
    }
  
    .nav__links .link a {
      opacity: 0;
    }
  
    .nav__links.open .link a {
      opacity: 1;
    }
  
    .nav__links.open {
      transform: scaleY(1);
    }
  
    .nav__menu__btn {
      display: block;
    }
  
    .header__container h1 {
      margin-top: 64px;
      font-size: 56px;
    }
  
    .offer__grid__top,
    .offer__grid__bottom {
      padding-inline: 16px;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .blog__grid {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 32px;
    }
  
    .footer__bar {
      flex-direction: column;
    }
  }